img{
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
}

h1{
    text-align: center;
    
    font-size: 3rem;
    /* font-size:calc(1.3rem + 3.6vw); */
}

body{
   
}

@media (min-width:320px) and (max-width:480px) {

    h1{
        font-size: 1.5rem;
        color:darkgoldenrod;
    }

}


@media (min-width:481px) and (max-width:768px){
    h1{
        font-size: 3rem;
        color:darkred;
    }
}

@media (min-width:769px) and (max-width:1024px){
    h1{
        font-size:5rem;
        color:deeppink;
    }

}


@media (min-width:1025px){

    h1{
        font-size:6rem;
        color:dodgerblue;
    }
}